body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin: 10px;
}

.colors-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.color-box {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Animazione per il riposizionamento */
}

.color-box.move-animation {
    transform: rotate(360deg) scale(1.1); /* Rotazione completa e aumento della dimensione */
}

#red { background-color: red; }
#blue { background-color: blue; }
#green { background-color: green; }
#yellow { background-color: yellow; }
